h1 {
    font-size: 20px;
    color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: lightgray;
    border-radius: 16px;
}

li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 15;
    padding: 10;
    border-radius: 12px;
    border-bottom: 7px coral solid;
    box-shadow: 0px 0px 9px black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

body {
    margin: 0;
    background-color: white;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

img {
    border-radius: 12px;
}

h1 {
    text-align: left; 
    color: lightcoral;
    font-size: 25px;
}

h2 {
    text-align: center; 
    color: lightcoral;
    font-size: 30px;
}

.noscriptmsg {
    text-align: center;
    padding: 100px;
    margin: 10px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: lightskyblue;
    border-radius: 16px;
}

.box {
    background-color: lightskyblue;
    border: none;
    border-radius: 16px;
    margin: 16px;
}