canvas {
    cursor: default;
    outline: none;
}

body {
    background-color: rgb(20, 33, 52);
	margin: 0px;
	padding: 0px;
}

#embed-html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

